*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#4b2e2e;
color:white;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.order-section{
height:100vh;
background-image:url("./../../image/coffee.webp");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
}

.order-box{
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:10px;
color:white;
width:350px;
text-align:center;
}

.order-box h1{
margin-bottom:20px;
}

input,select,textarea{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}

button{
background:#6d4c41;;
border:none;
padding:12px;
width:100%;
color:#fff;
cursor:pointer;
font-size:16px;
border-radius:5px;
}

button:hover{
background:#5d4037;
}